body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.stopwatch-container {
    margin-top: 100px;
}

.time-display {
    font-size: 3em;
    margin-bottom: 20px;
}

.btn {
    font-size: 1em;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.lap-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.lap-item {
    margin-bottom: 5px;
}
/* commit */